<ion-header>
  <ion-toolbar color="colortres">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/reportes">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="deleteReporte()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item color="color" >
      <ion-label color="dark" text-wrap><h1><b>Descripción: </b>{{reporte?.descripcion}}</h1></ion-label>
    </ion-item>
    <ion-item color="colordos">
      <ion-label color="dark"><h1><b>Propiedad: </b>{{propiedad?.ubicacion}}</h1></ion-label>
    </ion-item>
    <ion-item color="color">
      <ion-label color="dark"><h1><b>Proveedor: </b>{{proveedor?.nombre}}</h1></ion-label>
    </ion-item>
    <ion-item color="colordos">
      <ion-label color="dark"><h1><b>Estado: </b>{{reporte?.estado}}</h1></ion-label>
    </ion-item>
    <ion-item color="color">
      <ion-label color="dark"><h1><b>Costo: </b>{{reporte?.costo}}</h1></ion-label>
    </ion-item>
    <ion-item color="colordos">
      <ion-label color="dark"><h1><b>Fecha de creación: </b>{{reporte?.fecha}}</h1></ion-label>
    </ion-item>
    <ion-item color="color" *ngIf="reporte?.cover">
      <ion-label color="dark"><h1><b>Imagen:</b>
        <br>
        <img src="{{reporte?.cover}}"></h1></ion-label>
       </ion-item>
       <ion-item color="color" *ngIf="reporte?.cover == null">
        <ion-label color="dark"><h1><b>Imagen:</b></h1></ion-label>
   <ion-text color="dark">No se ha encontrado ninguna imagen</ion-text>
         </ion-item>
      
  </ion-card>
  
     
      
</ion-content>