<ion-header [translucent]="true">
  <ion-toolbar color="colortres">
    <ion-title>
     Avisos
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card color="dark">
    <ion-item color="dark">
      <ion-label color="primary">Asunto</ion-label>
      <ion-input [(ngModel)]="subject" type="text"></ion-input>
    </ion-item>
   <ion-item color="dark">
    <ion-textarea [(ngModel)]="body" placeholder="Contenido"></ion-textarea>
   </ion-item>
    <h5><ion-label color="primary"><pre>    Para</pre></ion-label></h5>
    <ion-select [(ngModel)]="to">
      <ion-select-option *ngFor="let emails of emailsinq" value="{{emails.email}}">{{emails.nombre}} {{emails.apellido}}, Email: {{emails.email}}</ion-select-option>
    </ion-select>
   
    <ion-button ion-button block (click)="Enviar()">Enviar</ion-button>
</ion-card>
</ion-content>
