<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/detalle_caja">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Movimientos</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
 <ion-grid>
   <ion-row>
     <ion-col>
       <ion-list>
         <ion-item>
       <ion-label>Fecha de pago</ion-label>
       <ion-label>Ingreso</ion-label>
      </ion-item>
      </ion-list>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col>
      <ion-list>
        <ion-item *ngFor='let pago of pagos'>
         <ion-label>{{pago.fecha_pago}}</ion-label>
         <ion-label>{{pago.monto}}</ion-label>
        </ion-item>
      </ion-list>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>
