<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     Pagos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToHome()">
        <ion-icon name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/contratos">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor='let pago of pagos'>
      <ion-button slot="end" color="success" (click)="updatePagos()">UPDATE</ion-button>
      <ion-button slot="end" color="primary" (click)="verPagos(pago.id)">VER</ion-button>
      <ion-label>${{pago.monto}}</ion-label>
      <ion-label>{{pago.fecha_pago}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="addNewPago(pagoId)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>