<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
     Contratos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToHome()">
        <ion-icon name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor='let contrato of contratos'>
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-button slot="end" color="primary" (click)="verPagos(contrato.id)">VER</ion-button>
      <ion-button slot="end" color="success" (click)="verContrato(contrato.id)">Detalle</ion-button>
      <ion-label>{{contrato.id}}</ion-label>
      <ion-label>{{contrato.propiedadName}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="addNewContrato()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>