<ion-header>
  <ion-toolbar color="color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/propiedades">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{propiedades?.ubicacion}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="deletePlace()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item color="colordos">
      <ion-icon color="secondary"name="location-outline"></ion-icon>
      &nbsp;
      <ion-label color="dark">
        <h1>Ubicacion: {{propiedades?.ubicacion}}</h1>
      </ion-label>
    </ion-item>

    <ion-item color="colortres" *ngIf="propiedades?.estado == 'Disponible'">
      <h3>Estado: {{propiedades?.estado}}</h3>
      &nbsp;
      <ion-icon color="tertiary" name="checkmark-circle-outline"></ion-icon>
    </ion-item>

    <ion-item color="colortres" *ngIf="propiedades?.estado == 'En alquiler'">
      <h3>Estado: {{propiedades?.estado}}</h3>
      &nbsp;
      <ion-button color="colortres" (click)="gotoAlquileres()">
        <ion-icon color="light"name="reader-outline"></ion-icon>
      </ion-button>
      
    </ion-item>

    <ion-item color="colordos">
      <ion-label color="dark">
        <h1>Tipo de propiedad: {{propiedades?.tipo}}</h1>
      </ion-label>
    </ion-item>
  </ion-card>
   
</ion-content>
