<ion-header>
      <ion-toolbar color="colortres">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/pagos">
          </ion-back-button>
        </ion-buttons>
    <ion-title>Actualizar pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark">
    <ion-card-content>
      <ion-input type="number" value="{{pago?.monto}}" placeholder="Monto" #monto2></ion-input>
      <ion-input slot="start" value="{{pago?.honorarios}}" type="number" placeholder="Honorarios" #honorarios2>Honorarios en %</ion-input>
      <ion-input type="number" value="{{pago?.punitorios}}" placeholder="Punitorios" #punitorios2></ion-input>
      <ion-input type="date" value="{{pago?.fecha_pago}}" #fecha_pago2>Fecha de pago:</ion-input>
      <ion-item color="colorcuatro">
        <ion-label>¿Pago de agua?</ion-label>
        <ion-checkbox color="dark" checked slot="start" [(ngModel)]=check4></ion-checkbox>
      </ion-item>
      <ion-input value="{{pago?.agua}}" type="number" placeholder="Ingrese valor del agua" #agua2 disabled="{{!check4}}"></ion-input>
      <ion-item color="colorcuatro">
        <ion-label>¿Pago de luz?</ion-label>
        <ion-checkbox color="dark" checked slot="start" [(ngModel)]=check></ion-checkbox>
      </ion-item>
      <ion-input value="{{pago?.luz}}" type="number" placeholder="Ingrese valor de la luz" #luz2 disabled="{{!check}}"></ion-input>
      <ion-item color="colorcuatro">
        <ion-label>¿Pago de gas?</ion-label>
        <ion-checkbox color="dark" checked slot="start" [(ngModel)]=check2></ion-checkbox>
      </ion-item>        
      <ion-input value="{{pago?.gas}}" type="number" placeholder="Ingrese valor del gas" #gas2 disabled="{{!check2}}"></ion-input>
      <ion-item color="colorcuatro">
        <ion-label>¿Pago de expensas?</ion-label>
        <ion-checkbox color="dark" checked slot="start" [(ngModel)]=check3></ion-checkbox>
      </ion-item>        
      <ion-input value="{{pago?.expensas}}" type="number" placeholder="Ingrese valor de las expensas" #expensas2 disabled="{{!check3}}"></ion-input>
      <ion-item color="colorcuatro">
        <ion-label>¿Otras tasas?</ion-label>
        <ion-checkbox color="dark" checked slot="start" [(ngModel)]=check5></ion-checkbox>
      </ion-item>
      <ion-input value="{{pago?.tasas1desc}}" type="text" placeholder="Ingrese descripcion de tasas 1" #tasas1desc disabled="{{!check5}}"></ion-input> 
      <ion-input value="{{pago?.tasas1}}" type="number" placeholder="Ingrese valor tasas 1" #tasas1 disabled="{{!check5}}"></ion-input>
      <br>
      <ion-input value="{{pago?.tasas2desc}}" type="text" placeholder="Ingrese descripcion de tasas 2" #tasas2desc disabled="{{!check5}}"></ion-input> 
      <ion-input value="{{pago?.tasas2}}" type="number" placeholder="Ingrese valor tasas 2" #tasas2 disabled="{{!check5}}"></ion-input>
      <br>
      <ion-input value="{{pago?.tasas3desc}}" type="text" placeholder="Ingrese descripcion de tasas 3" #tasas3desc disabled="{{!check5}}"></ion-input> 
      <ion-input value="{{pago?.tasas3}}" type="number" placeholder="Ingrese valor tasas 3" #tasas3 disabled="{{!check5}}"></ion-input>
      <br>
      <ion-input value="{{pago?.tasas4desc}}" type="text" placeholder="Ingrese descripcion de tasas 4" #tasas4desc disabled="{{!check5}}"></ion-input> 
      <ion-input value="{{pago?.tasas4}}" type="number" placeholder="Ingrese valor tasas 4" #tasas4 disabled="{{!check5}}"></ion-input>
      <br>

<ion-button color="primary" (click)="saveNewPago(monto2, honorarios2, punitorios2, fecha_pago2, agua2, luz2, gas2, expensas2)">ACTUALIZAR</ion-button>
</ion-card-content>
</ion-card>
</ion-content>