<ion-header>
  <ion-toolbar color="colortres">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/proveedores">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{proveedor?.nombre}} {{proveedor?.apellido}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="deleteProveedor()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item color="color">
      <ion-label color="dark"><h1><b>Nombre: </b> {{proveedor?.nombre}}</h1></ion-label>
    </ion-item>
    <ion-item color="colordos">
      <ion-label color="dark"><h1><b>Apellido: </b> {{proveedor?.apellido}}</h1></ion-label>
    </ion-item>
    <ion-item color="color">
      <ion-label color="dark"><h1><b>DNI: </b> {{proveedor?.DNI}}</h1></ion-label>
    </ion-item>
    <ion-item color="colordos">
      <ion-label color="dark"><h1><b>CUIT: </b> {{proveedor?.CUIT}}</h1></ion-label>
    </ion-item>
    <ion-item color="color">
      <ion-label color="dark"><h1><b>Direccion: </b> {{proveedor?.direccion}}</h1></ion-label>
    </ion-item>
    <ion-item color="colordos">
      <ion-label color="dark"><h1><b>Telefono: </b> {{proveedor?.telefono}}</h1></ion-label>
    </ion-item>
    <ion-item color="color">
      <ion-label color="dark"><h1><b>Email: </b> {{proveedor?.email}}</h1></ion-label>
    </ion-item>
    <ion-item color="colordos">
      <ion-label color="dark"><h1><b>Cuenta bancaria: </b> {{proveedor?.cuenta_bancaria}}</h1></ion-label>
    </ion-item>
  </ion-card>
</ion-content>

