<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo aviso</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/avisos">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div padding>
    <ion-label color="primary" stacked>Asunto</ion-label>
    <ion-input [(ngModel)]="subject" type="text"></ion-input>
    <ion-textarea [(ngModel)]="body" placeholder="Contenido"></ion-textarea>
    <ion-label color="primary" stacked>Para</ion-label>
    <ion-input [(ngModel)]="to" type="text"></ion-input>
    <button ion-button block (click)="Enviar()">Enviar</button>
  </div>
</ion-content>
