<ion-header>
  <ion-toolbar color="colortres">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/propiedades">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar propiedad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark">
  <div>
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">
        <ion-item color="dark">
          <ion-label position="floating">Ubicación</ion-label>
          <ion-input autocapitalize inputmode="text" formControlName="ubicacion"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.ubicacion">
          <ng-container *ngIf="ubicacion.hasError(error.type) && (ubicacion.dirty || ubicacion.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <ion-item color="dark">
          <ion-label position="floating">Tipo de propiedad</ion-label>
          <ion-input inputmode="tipo" formControlName="tipo"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.tipo">
          <ng-container *ngIf="tipo.hasError(error.type) && (tipo.dirty || tipo.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item color="dark">
          <ion-label>Locador</ion-label>
          <ion-select formControlName="locador" [(ngModel)]="locador.id">
            <ion-select-option *ngFor="let locador of locadores" value="{{locador.id}}">{{locador.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngFor="let error of errorMessages.locador">
          <ng-container *ngIf="locador.hasError(error.type) && (locador.dirty || locador.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item color="dark">
          <ion-label position="floating">Inventario</ion-label>
          <ion-textarea>
            <ion-input inputmode="tipo" formControlName="inventario"></ion-input>
          </ion-textarea>
        </ion-item>
        <br>
        <ion-item color="dark">
          <h5>Interiores</h5>
        </ion-item>

        <ion-item color="dark">
          <ion-label>
            Imagen
          </ion-label>
            <ion-input type="file" (change)="onCoverChanged($event)"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-label>
            Imagen 2
          </ion-label>
            <ion-input type="file" (change)="onCoverChanged2($event)"></ion-input>
        </ion-item>
        <br>

        <ion-item color="dark">
            <h5>Exteriores</h5>
          </ion-item>
  
          <ion-item color="dark">
            <br>
            <ion-label>
              Imagen
            </ion-label>
              <ion-input type="file" (change)="onCoverChanged3($event)"></ion-input>
          </ion-item>
          <ion-item color="dark">
            <ion-label>
              Imagen 2
            </ion-label>
              <ion-input type="file" (change)="onCoverChanged4($event)"></ion-input>
          </ion-item>
          <br>
       
      <ion-button [disabled]="!registrationForm.valid" type="submit" expand="block">ACTUALIZAR <ion-icon slot="end"
          name="create">
        </ion-icon>
      </ion-button>
    </form>
  </div>
</ion-card>
</ion-content>