<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/propiedades">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
  <ion-card>
    <ion-card-content>
      <ion-input type="text" placeholder="Ubicación" #ubicacion2></ion-input>
      <ion-input type="text" placeholder="Estado" #estado2></ion-input>
      <ion-input type="text" placeholder="Tipo de propiedad" #tipo2></ion-input>
      <ion-button color="primary" (click)="savePropiedad(ubicacion2, estado2, tipo2)">
      SAVE</ion-button>
     </ion-card-content>
  </ion-card>
</ion-row>
</ion-content>