<ion-header [translucent]="true">
  <ion-toolbar color="colortres">
    <ion-title>
     Propiedades
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToHome()">
        <ion-icon name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh(event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-item-group *ngFor='let propiedad of propiedades; index as i'>
      <ion-item *ngIf="(i+1)%2 == 0" color="color">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-button slot="end" color="success" (click)="updatePropiedad(propiedad.id)">ACTUALIZAR</ion-button>
        <ion-button slot="end" color="primary" (click)="verPropiedad(propiedad.id)">VER</ion-button>
        <ion-label>{{propiedad.ubicacion}}</ion-label>
      </ion-item>
      <ion-item *ngIf="(i+1)%2 != 0" color="colordos">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-button slot="end" color="success" (click)="updatePropiedad(propiedad.id)">ACTUALIZAR</ion-button>
        <ion-button slot="end" color="primary" (click)="verPropiedad(propiedad.id)">VER</ion-button>
        <ion-label>{{propiedad.ubicacion}}</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="addPago()">
      <ion-icon name="add"></ion-icon>  
    </ion-fab-button>
  </ion-fab>

</ion-content>