<ion-header>
  <ion-toolbar color="colortres">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/reportes">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar reporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark">
    <ion-card-content color="dark">
      <ion-input type="text" placeholder="Descripción" #descripcion2></ion-input>
      <ion-item color="dark">
        <ion-label>Estado</ion-label>
        <ion-select [(ngModel)]="Estado" #estado2=ngModel>
          <ion-select-option value="Pendiente">Pendiente</ion-select-option>
          <ion-select-option value="Listo">Listo</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-input type="date" #fecha2>Fecha de creación:</ion-input>

  <ion-item color="dark">
      <ion-label>Proveedor</ion-label>
      <ion-select [(ngModel)]="proveedor.id" #proveedor=ngModel>
        <ion-select-option *ngFor="let proveedor of proveedores" value="{{proveedor.id}}">{{proveedor.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

  <ion-item color="dark">
    <ion-label>Propiedad</ion-label>
    <ion-select [(ngModel)]="propiedad.id" #propiedad=ngModel>
      <ion-select-option *ngFor="let propiedad of propiedades" value="{{propiedad.id}}">{{propiedad.ubicacion}}</ion-select-option>
    </ion-select>
  </ion-item>
 <br>
  <ion-input type="number" placeholder="Costo" #costo2></ion-input>
  <br>
  <ion-item color="colorcuatro">
    <ion-label>¿Desea adjuntar una imagen?</ion-label>
    <ion-checkbox color="dark" checked slot="start" [(ngModel)]=check4></ion-checkbox>
  </ion-item>
  <ion-item disabled="{{!check4}}" color="dark">
    <ion-label>
      Imagen
      <ion-input type="file" (change)="onCoverChanged($event)"></ion-input>
    </ion-label>
  </ion-item>
  
<ion-button color="primary" (click)="saveNewReporte(descripcion2, estado2, fecha2, proveedor, propiedad, costo2)">GUARDAR</ion-button>
</ion-card-content>
</ion-card>
</ion-content>
