<ion-app style="font-family:family;">
  <ion-header>
    <ion-toolbar color="colortres">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/pagos">
        </ion-back-button>
      </ion-buttons>
      <ion-title>{{pago?.id}}</ion-title>
      <ion-buttons slot="end">
        <ion-button color="danger" (click)="deletePago()">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
   
    <ion-item-group>
      <ion-grid>
        <ion-row>
          <ion-col>
              <ion-item color="color">
                <ion-label color="dark">
                  <h1> <b>Fecha de pago:</b></h1>
                  <ion-img class="center" style="width: 120px; height: 120px;" src="assets/images/calendario.png"></ion-img>
                  <br>  
                  <h1 align="center"> {{pago?.fecha_pago}}</h1>
                  </ion-label>
              </ion-item>
          </ion-col>
          <ion-col>
            <ion-item color="color">
              <ion-label color="dark">
                <h1 align="center"> <b>Monto:</b></h1>
                <ion-img class="center" style="width: 120px; height: 120px;" src="assets/images/monto.png"></ion-img>
                <br>
                <h1 align="center">$ {{pago?.monto}}</h1>
              </ion-label>
             </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card>
        <ion-item color="color">
          <ion-label color="dark"><h1> <b>Honorarios: </b>{{pago?.honorarios}}</h1></ion-label>
         </ion-item>
        <ion-item color="colordos">
          <ion-label color="dark"><h1> <b>Punitorios:</b> {{pago?.punitorios}}</h1></ion-label>
        </ion-item>

        <ion-item color="color" *ngIf="pago?.agua == null">
          <ion-label color="dark"><h1> <b>Agua:</b> 0</h1></ion-label>
        </ion-item>
        <ion-item color="color" *ngIf="pago?.agua != null">
          <ion-label color="dark"><h1> <b>Agua:</b>{{pago?.agua}}</h1></ion-label>
        </ion-item>
        
      <ion-item color="colordos" *ngIf="pago?.gas != null">
        <ion-label color="dark"><h1> <b>Gas:</b> {{pago?.gas}}</h1></ion-label>
      </ion-item>
      <ion-item color="colordos" *ngIf="pago?.gas == null">
        <ion-label color="dark"><h1> <b>Gas:</b> 0</h1></ion-label>
      </ion-item>

      <ion-item color="color" *ngIf="pago?.luz != null">
        <ion-label color="dark"><h1> <b>Luz:</b> {{pago?.luz}}</h1></ion-label>
      </ion-item>
      <ion-item color="color" *ngIf="pago?.luz == null">
        <ion-label color="dark"><h1> <b>Luz:</b> 0</h1></ion-label>
      </ion-item>

      <ion-item color="colordos" *ngIf="pago?.expensas != null">
        <ion-label color="dark"><h1> <b>Expensas:</b> {{pago?.expensas}}</h1></ion-label>
      </ion-item>
      <ion-item color="colordos" *ngIf="pago?.expensas == null">
        <ion-label color="dark"><h1> <b>Expensas:</b> 0</h1></ion-label>
      </ion-item>
      </ion-card>
    </ion-item-group>
  </ion-content>

</ion-app>
