<ion-header>
  <ion-toolbar color="colortres">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Alquileres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <ion-button (click)="alquileres_c()" size="large" expand="full">Alquileres cobrados</ion-button>
   <ion-button (click)="alquileres_p()" size="large" expand="full" color="secondary">Alquileres pendientes</ion-button>
   <ion-button (click)="alquileres_v()" size="large" expand="full" color="danger">Alquileres a vencer</ion-button>
</ion-content>