/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    --ion-color-colordos: #228c33;
    --ion-color-colordos-rgb: 34,140,51;
    --ion-color-colordos-contrast: #ffffff;
    --ion-color-colordos-contrast-rgb: 255,255,255;
    --ion-color-colordos-shade: #1e7b2d;
    --ion-color-colordos-tint: #389847;

    --ion-color-color: #2aac40;
    --ion-color-color-rgb: 42,172,64;
    --ion-color-color-contrast: #ffffff;
    --ion-color-color-contrast-rgb: 255,255,255;
    --ion-color-color-shade: #259738;
    --ion-color-color-tint: #3fb453;

    --ion-color-colortres: #36b355;
    --ion-color-colortres-rgb: 113,214,162;
    --ion-color-colortres-contrast: #000000;
    --ion-color-colortres-contrast-rgb: 0,0,0;
    --ion-color-colortres-shade: #63bc8f;
    --ion-color-colortres-tint: #7fdaab;

    --ion-color-colorcuatro: #3b3b3b;
    --ion-color-colorcuatro-rgb: 89,89,89;
    --ion-color-colorcuatro-contrast: #ffffff;
    --ion-color-colorcuatro-contrast-rgb: 255,255,255;
    --ion-color-colorcuatro-shade: #4e4e4e;
    --ion-color-colorcuatro-tint: #6a6a6a;
  }
  
  .ion-color-colordos {
    --ion-color-base: var(--ion-color-colordos);
    --ion-color-base-rgb: var(--ion-color-colordos-rgb);
    --ion-color-contrast: var(--ion-color-colordos-contrast);
    --ion-color-contrast-rgb: var(--ion-color-colordos-contrast-rgb);
    --ion-color-shade: var(--ion-color-colordos-shade);
    --ion-color-tint: var(--ion-color-colordos-tint);
  }

.ion-color-color {
    --ion-color-base: var(--ion-color-color);
    --ion-color-base-rgb: var(--ion-color-color-rgb);
    --ion-color-contrast: var(--ion-color-color-contrast);
    --ion-color-contrast-rgb: var(--ion-color-color-contrast-rgb);
    --ion-color-shade: var(--ion-color-color-shade);
    --ion-color-tint: var(--ion-color-color-tint);
  }

  .ion-color-colortres {
    --ion-color-base: var(--ion-color-colortres);
    --ion-color-base-rgb: var(--ion-color-colortres-rgb);
    --ion-color-contrast: var(--ion-color-colortres-contrast);
    --ion-color-contrast-rgb: var(--ion-color-colortres-contrast-rgb);
    --ion-color-shade: var(--ion-color-colortres-shade);
    --ion-color-tint: var(--ion-color-colortres-tint);
  }

  .ion-color-colorcuatro {
    --ion-color-base: var(--ion-color-colorcuatro);
    --ion-color-base-rgb: var(--ion-color-colorcuatro-rgb);
    --ion-color-contrast: var(--ion-color-colorcuatro-contrast);
    --ion-color-contrast-rgb: var(--ion-color-colorcuatro-contrast-rgb);
    --ion-color-shade: var(--ion-color-colorcuatro-shade);
    --ion-color-tint: var(--ion-color-colorcuatro-tint);
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  ion-content {
    --background: url(assets/images/fondo.jpg);
    --ion-background-color:#085500;
  }

  ion-checkbox {
    --ion-background-color: white !important;
}

.my-custom-class {
  --head: white;
  --background: black;
  button.alert-button:nth-child(1){
    background-color: red;
    color: white;
  }
  button.alert-button:nth-child(2){
    color: white;
    background-color: lightseagreen;
  }

}
.my-custom-class .alert-wrapper {
  background: #228c33 !important;
}